<!-- Header -->
<div class="ui borderless main menu" id="example1">
  <div class="ui text container">
    <div href="#" class="header item">
      Pet Care
    </div>
    {{#link-to 'index' class='item'}}Dashboard{{/link-to}}
    {{#link-to 'blog' class='item'}}Blog{{/link-to}}
    {{#link-to 'pets' class="item"}}Pets{{/link-to}}

    <div class="right menu">
      {{#ui-dropdown class='pointing link item mobile hidden'}}
        <i class='configure icon'></i>
        Settings
        <div class='menu'>
          <a class='item' href={{href-to 'pets'}}><i class='user icon'></i> User Profile</a>
        </div>
      {{/ui-dropdown}}
    </div>

  </div>
</div>
<!-- End Header -->

<div class="ui grid container">
  <div class="four wide column">
     <ul>
       <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
       <li>{{#link-to 'pets.gallery'}}Pets Gallery{{/link-to}}</li>
       <li>{{#link-to 'pets.list'}}Pets List{{/link-to}}</li>
       <li>{{#link-to 'login'}}Login{{/link-to}}</li>
     </ul>
  </div>
  <div class="twelve wide column">
    {{outlet}}
  </div>
</div>
