<!-- Header -->
<div class="ui borderless main menu" id="example1">
  <div class="ui text container">
    <div href="#" class="header item">
      Pet Care
    </div>
    {{#link-to 'index' class='item'}}Dashboard{{/link-to}}
    {{#link-to 'blog' class='item'}}Blog{{/link-to}}
    <a href="#" class="ui right floated dropdown item" tabindex="0">
      Profiles <i class="dropdown icon"></i>
      <div class="menu" tabindex="-1">
        <div class="item">Link Item</div>
        <div class="item">Link Item</div>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <div class="item">Link Item</div>
            <div class="item">Link Item</div>
          </div>
        </div>
        <div class="item">Link Item</div>
      </div>
    </a>
  </div>
</div>
<!-- End Header -->



<div class="ui grid container">
  <div class="four wide column">
     <ul>
       <li>{{#link-to 'index'}}Dashboard{{/link-to}}</li>
       <li>{{#link-to 'login'}}Login{{/link-to}}</li>
       <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
     </ul>
  </div>
  <div class="twelve wide column">
    {{outlet}}
  </div>
</div>
